@import 'https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css';
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#headerbar {
  position: relative; 
  height: 40px;
  z-index: 2;
  background-color: #339cde;
}
#map {
  padding: 0;
  margin: 0;
  position: relative;
  height: calc(100% - 40px);
  width: 100%;
  z-index: 50;
}
#logo {
  width: 40px;
  height: 40px;
}
#headerinternals {
  height: 40px;
  align-items: center;
  display: flex; 
  font-size: 20px;
  left: 12px;
  position: absolute;
} 

#headertext {
  font-size: 20px;
  color: #003F87
}

#mapinfo {
  position: relative;
  left: 10px;
  height: calc(100% - 10px);
}

#measureWidget {
  visibility: hidden;
}

.button {
  transition-duration: 0.4s;
  border: none;
  background-color: #339cde;
  cursor: pointer;
}

.esri-widget--button{
  background-color: #339cde;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #4b80c0;
  color: white;
}

.esri-distance-measurement-2d__hint-text::after{
  content: ". Double click/tap to finish measurement.";
}

#zoomSlider_controls_content {
  position: absolute;
  left: 40px;
  top: 5px;
}

#info {
  position: absolute;
  left: 15px;
  bottom: 5px;
  color: #000;
  z-index: 3;
}



/* #legend .esri-expand__content {
  transition: none;
} */

/* #legend .esri-expand__content--expanded {
  position: absolute;
  bottom: 100%;
  left: 0;
  animation: expand-upwards .2s;
  margin-left: 0px;
  margin-bottom: 10px;
} */



.esri-scale-bar__bar-container {
  z-index: 0;
}

.esri-slider {
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.esri-slider__tick-label{
  font-size: 12px;
  font-family: arial !important;
  font-weight: bold;
  user-select: none;
}


@media only screen and (max-width : 350px)  {
  /* Hack to get rid of the text in the header and replace it*/ 
  #headertext { font-size: 0; }
  #headertext::after { content: "WWU Map";
    font-size: 1rem;
  }
  .esri-ui-top-left{
    top: 40px;
  }
  #header{
    left: 11px;
  }

}

@media only screen and (min-width : 666px)  {    
  .esri-search { 
    width:300 px;
    z-index: 10; }
  #measureWidget{
    visibility: visible;
  }
}

/* @keyframes expand-upwards {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
} */