@import 'https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css';
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#map {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%
}
#logo {
  width: 40px;
  height: 40px;
}
#header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50px;
  height: 40px;
  z-index: 2;
}
h1 { 
  font-size: 20px; 
} 
#info {
  position: absolute;
  left: 15px;
  bottom: 5px;
  color: #000;
  z-index: 3;
}

#legend {
  width: 62px;
  height: 32px;
}

#legend .esri-expand__content {
  transition: none;
}

#legend .esri-expand__content--expanded {
  position: absolute;
  bottom: 100%;
  left: 0;
  animation: expand-upwards .2s;
  margin-left: 0px;
  margin-bottom: 10px;
}

#legend .esri-widget--button {
  width: 62px;
  height: 32px;
}

#legend .esri-collapse__icon {
  display: none;
}

#legend .esri-icon-font-fallback-text {
  width: auto;
  height: 13px;
  clip: auto;
  font-size: 12px;
  font-family: arial !important;
  font-weight: bold;
  user-select: none;
}

@media only screen and (min-width : 630px)  {    
  .esri-search { 
    width:339px;
    z-index: 10; }
}

@media only screen and (max-width : 525px)  {    
  h1 { display: none; }
}

@keyframes expand-upwards {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}